@import './variables.css';
@import './layout.css';
@import './quiz.css';
@import './table.css';
/* Font imports */
@import './fonts/fonts.css';

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: var(--line-height-normal);
  color: var(--text-color);
  background-color: var(--background-color);
  /* position: sticky on header causes scroll on typing with scroll-padding-top, 
  known bug */
  /* scroll-padding-top: 52px; */
  [id] {
    scroll-margin-top: 52px;
  }

  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}
