.content .table-wrapper {
  overflow-x: auto;
  max-width: 100%;
}

.content table {
  box-shadow: inset 0px 0px 0px 1px var(--color-primary);
  border-radius: var(--borderRadius-medium, 6px);
  border-collapse: unset;
}

.content table th:first-child {
  border-radius: var(--borderRadius-medium, 6px) 0 0 0;
}

.content table th:last-child {
  border-radius: 0 var(--borderRadius-medium, 6px) 0 0;
}

.content table td:first-child,
.content table th:first-child {
  border-left: none;
}

.content table th {
  background-color: var(--color-primary-light);
  padding: 10px;
}

.content table td {
  padding: 10px 6px;
}

.content table tbody td,
.content table tbody th {
  box-shadow: inset 0px 0px 0px 0.5px var(--color-primary);
}

.content table tbody tr:hover {
  background-color: var(--color-btn-hover-bg);
}

.content table tbody tr:last-child :first-child {
  border-radius: 0 0 0 var(--borderRadius-medium, 6px);
}

.content table tbody tr:last-child :last-child {
  border-radius: 0 0 var(--borderRadius-medium, 6px) 0;
}
